# Storage Configuration (MinIO / S3)
MINIO_SERVER_URL=https://complian-os-minio-complianceos.qztbnm.easypanel.host
MINIO_ROOT_USER=admin
MINIO_ROOT_PASSWORD=sjMZIp01gv4g
MINIO_REGION=us-east-1
DOCUMENTS_S3_BUCKET=compliance-documents
